name: Deploy Blazor WASM to GitHub Pages

on:
  push:
    branches: [ "main" ]
  workflow_dispatch: { }

permissions:
  contents: write
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x

    - name: Publish project
      run: dotnet publish X00194620_Ca3/X00194620_Ca3.csproj -c Release -o release


        - name: Change base-href
          run: |
            sed -i 's|<base href="/" />|<base href="/${{ github.event.repository.name }}/" />|' release/wwwroot/index.html

        - name: Upload artifact
          uses: actions/upload-pages-artifact@v3
          with:
            path: release/wwwroot

  deploy:
    needs: build
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deploy.outputs.page_url }}
    steps:
      - name: Deploy to GitHub Pages
        id: deploy
        uses: actions/deploy-pages@v4
